// fonts
$font-primary: roboto, sans-serif;
$font-secondary: raleway, sans-serif;

// font-sizes
$primary-font-size: 16px;
$secondary-font-size: 14px;

// letter-spacing
$main-letter-spacing: 0.03em;

// colors
$primary-font-color: #757575;
$brand-color: #2196F3;
$white-color: #FFFFFF;
$black-color: #212121;
$background-color-light: #F5F4FA;
$background-color-dark: #2F303A;

// fills
$icon-fill: #AFB1B8;

// transitions
$transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
